.container {
    bottom: 0px;
    left: 0px;
    position: fixed;
    text-align: center;
    padding: 5px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    border: 1px solid #FFB649;
}

.customBtn {
    width: 100%;
    background-repeat: no-repeat;
    height: 100%;
}

.linkDec {
    text-decoration: none;
    color: #667C8A;
}

.iconLabel-active {
    color: #FFB649;
}