.detail_Head {
    text-align: center;
    margin-top: 31px;
    margin-bottom: 5%;
    font-size: 24px;
}

.detail-container {
    height: 485px;
    overflow-y: auto;
    overflow-x: hidden;
}

.detail-image-container {
    padding: 10px;
    text-align: center;
}

.detail-image {
    width: 200px;
    border: 1px solid #FFB649;
}

.detail-info {
    margin-left: 30px;
    margin-top: 10px;
}

.detail-title {}

.headLabel {
    font-weight: bold;
    margin-top: 12px;
}