.bottonContainer {
    bottom: 0;
    position: fixed;
}

.donateHead {
    text-align: center;
    margin-top: 31px;
    margin-bottom: 5%;
    font-size: 24px;
}

form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

input[type=text],
input[type=file],
input[type=email],
input[type=password],
select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #FFB649;
    border-radius: 18px;
    background-color: #000;
    resize: vertical;
    color: #000;
}

input[type=submit] {
    background-color: #FFB649 !important;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 247px;
    height: 55px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.timeBar {
    border-radius: 18px;
    border: 1px solid #FFB649;
}

#toTime {
    margin-left: 10px;
}

.donate_submitBtn {
    width: 100%;
    text-align: center;
    margin-top: 16px;
}