.home_homeHead {
    text-align: center;
    margin-top: 31px;
    margin-bottom: 5%;
    font-size: 24px;
}

.home_container {
    height: 580px;
    overflow-y: auto;
    overflow-x: hidden;
}

.home_searchContainer {
    margin-left: 10%;
    width: 300px;
    position: relative;
}

.home_searchBox {
    width: 100%;
    height: 45px;
    border: 1px solid #FFB649;
    border-radius: 40px;
    padding-right: 60px;
}

.home_search-icon {
    width: 24px;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 18px;
}

.home_boxContainer {
    width: 299px;
    height: 112px;
    background: #F4F4F4;
    border-radius: 25px;
    color: #000;
    margin-top: 7%;
    margin-left: 10%;
    border: 1px solid #FFB649;
}

.home_food-image {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.home_leftContainer {
    float: left;
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}

.home_rightContainer {
    float: right;
    width: 60%;
    margin-top: 10px;
}

.home_requestBtn {
    width: 75px;
    height: 25px;
    background: #FFB649;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    float: right;
    border: 1px solid #FFB649;
    margin-right: 10px;
}

.home_foodLocation {}

.home_foodLocation span {
    margin-right: 2px;
}